<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- Agrego el thymeleaf -->

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
		integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous" />
	<title>Libreria</title>

</head>

<body>
	<section th:if="${lista}!=null" class="container m-5">
		<!-- clase de bootstrap -->
		<h1 th:text="${lista}" class="text-center"></h1>
		<table class="table table-dark">
			<thead>
				<tr>
					<th scope="col">Id</th>
					<th scope="col">ISBN</th>
					<th scope="col">Titulo</th>
					<th scope="col">Añio</th>
					<th scope="col">Cantidad</th>
					<th scope="col">Cant. Prest.</th>
					<th scope="col">Cant. Rest.</th>
					<th scope="col">Alta</th>
					<th scope="col">Autor</th>
					<th scope="col">Editorial</th>
					<th scope="col">Modificar</th>
					<th scope="col">Eliminar</th>
				</tr>
			</thead>
			<tbody th:each="lib : ${libro}">
				<tr>
					<th scope="row" th:text="${lib.id}"></th>
					<td th:text="${lib.isbn}"></td>
					<td th:text="${lib.titulo}"></td>
					<td th:text="${lib.anio}"></td>
					<td th:text="${lib.ejemplares}"></td>
					<td th:text="${lib.ejemplPrestados}"></td>
					<td th:text="${lib.ejemplRestantes}"></td>
					<td th:text="${lib.alta}"></td>
					<td th:text="${lib.autor.nombre}"></td>
					<td th:text="${lib.editorial.nombre}"></td>

					<td>
						<a th:href="@{/libro/editar/__${lib.id}__}"><i class="fa fa-arrow-up"></i></a>
					</td>
					<td>
						<a th:href="@{/libro/eliminar/__${lib.id}__}"><i class="fa fa-ban"></i></a>
					</td>
				</tr>

			</tbody>
		</table>
		<div class=" text-center container">
			<div class="row justify-content-md-center">
				<div class="col col-md-2">
					<a th:href="@{/libro/registro}" class="btn btn-success my-2">Nuevo</a>
				</div>
				<div class="col col-md-2">
					<a th:href="@{/}" class="btn btn-primary my-2">Volver</a>
				</div>
			</div>
		</div>

	</section>
	<section th:if="${registro}!=null" class="container">
		<div class="row vh-100 justify-content-center align-items-center">
			<div class="col-auto">
				<h1 th:text="${registro}" class="text-center"></h1>
				<div th:if="${error}!=null" class="card text-white bg-danger mb-3" style="max-width: 23rem;">
					<div class="card-body">
						<h5 class="card-title">Error</h5>
						<p class="card-text" th:text="${error}"></p>
					</div>
				</div>
				<form th:action="@{/libro/registro}" method="POST">
					<div class="form-group">
						<label class="form-label">ISBN</label>
						<input type="number" class="form-control" name="isbn" th:value="${isbn}"></input>
					</div>
					<div class="form-group">
						<label class="form-label">Titulo</label>
						<input type="text" class="form-control" name="titulo" th:value="${titulo}"></input>
					</div>
					<div class="form-group">
						<label class="form-label">Añio</label>
						<input type="number" class="form-control" name="anio" th:value="${anio}"></input>
					</div>
					<div class="form-group">
						<label class="form-label">Cantidad</label>
						<input type="number" class="form-control" name="ejemplares" th:value="${ejemplares}"></input>
					</div>
					<div class="form-group">
						<label class="form-label">Autor</label>
						<select class="form-select" name="autor">
							<div th:if="${error}==null">
								<option selected disabled value="">Elegir..</option>
							</div>
							<div th:if="${error}!=null">
								<option selected th:text="${autores}"></option>
							</div>
							<div th:each="aut : ${autor}">
								<option th:text="${aut.nombre}"></option>
							</div>
						</select>
					</div>
					<div class="form-group">
						<label class="form-label">Editorial</label>
						<select class="form-select" name="editorial">
							<div th:if="${error}==null">
								<option selected disabled value="">Elegir..</option>
							</div>
							<div th:if="${error}!=null">
								<option selected th:text="${edito}"></option>
							</div>
							<div th:each="edit : ${editorial}">
								<option th:text="${edit.nombre}"></option>
							</div>
						</select>
					</div>

					<button class="btn btn-primary" type="submit">Guardar</button>

				</form>
			</div>
		</div>
	</section>


	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.min.js"></script>
</body>

</html>